{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_miplugin/log_table

    Renders the platform manager activity log.

    Context variables required for this template:
    * entries - array of {action, details, userfullname, timecreated}
}}
<table class="generaltable">
    <thead>
        <tr>
            <th scope="col">{{#str}} logaction, local_miplugin {{/str}}</th>
            <th scope="col">{{#str}} logdetails, local_miplugin {{/str}}</th>
            <th scope="col">{{#str}} loguser, local_miplugin {{/str}}</th>
            <th scope="col">{{#str}} logdate, local_miplugin {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#entries}}
        <tr>
            <td>{{action}}</td>
            <td>{{details}}</td>
            <td>{{userfullname}}</td>
            <td>{{timecreated}}</td>
        </tr>
        {{/entries}}
        {{^entries}}
        <tr>
            <td colspan="4">{{#str}} nologentries, local_miplugin {{/str}}</td>
        </tr>
        {{/entries}}
    </tbody>
</table>
